<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUo</title>
</head>
<body>
<h3>Please register here</h3>
<div>
    <form th:action="@{/welcome/Home}" th:object="${user}" method="post">
        <div>
            <label for="username">FullName:</label>
            <input type="text" id="username" th:field="*{fullName}" required autofocus>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{email}" required autofocus>
        </div>
        <div>
            <label for="PhoneNumber">PhoneNumber:</label>
            <input type="text" id="PhoneNumber" th:field="*{phoneNo}" required autofocus>
        </div>
        <div>
            <label for="Password">Password:</label>
            <input type="text" id="password" th:field="*{passWord}" required autofocus>
        </div>
        <div>
            <label for="Gender">Gender:</label>
            <select id="Gender" th:field="*{gender}">
                <option value="MALE">MALE</option>
                <option value="FEMALE"> FEMALE</option>
                <option VALUE="OTHER">OTHER</option>
            </select>
        </div>
        <button type="submit">Sign Up</button>
    </form>
</div>

</body>
</html>